html {
    overflow-y: scroll;
}

body{
    padding-top: 70px;
    background-color: white;
    overflow:visible;
    position: absolute;
}


.carousel{
    height:420px;
    position: relative;
}
.carousel .item {
    height:420px;

}

.item img{
    width:100%;
}

.container{
 text-align: center;
 background-image: none;
 background-color: white;
}
.row img{
max-width: 500px;
}
#display {
    font-size:3%;
    text-align: center;
    line-height: 150%;
}

.tab{
    background-image: none;
    background-color: white;
}

.feature{
    padding:30px 0;
}
.feature p{
    font-size:14px;
    line-height:30px;
}

.feature h2{
color: #2c4c58;
}