html {
    overflow-y: scroll;
}

body{
    padding-top: 70px;
}


.carousel{
    height:30%;
    position: relative;
}
.carousel .item {
    height:30%;

}

.item img{
    display:flex;
    align-self: stretch;
    margin:0 auto;
}

.container{
 text-align: center;
 background-image: none;
 background-color: white;
}
.row img{
max-width: 500px;
}
#display {
    font-size:3%;
    text-align: center;
    line-height: 150%;
}

.tab{
    background-image: none;
    background-color: white;
}

.feature{
    padding:30px 0;
}
.feature p{
    font-size:14px;
    line-height:30px;
}

.feature h2{
color: #2c4c58;
}

.passage{
    margin:0px auto;
    width:80%;
}

.passage img{
    max-width:100%;
}
@media(max-width:768px)
{
    .carousel{
        height:330px;
    }
    .carousel .item{
        height:330px;
    }
}