
body{
    padding-top: 70px;
    background-color: white;
}


.carousel{
    height:420px;
}
.carousel .item {
    height:420px;

}

.item img{
    width:100%;
}

.container{
 text-align: center;
 background-image: none;
 background-color: white;
}
.row img{
max-width: 500px;
}
#display {
    font-size:3%;
    text-align: center;
    line-height: 150%;
}

.tab{
    background-image: none;
    background-color: white;
}

