html {
    overflow-y: scroll;
}

body{
    padding-top: 70px;
}


.carousel{
    height:500px;
    position: relative;
}
.carousel .item {
    height:500px;

}

.item img{
    margin:0 auto;
}

.container{
 text-align: center;
}
.row img{
max-width: 500px;
}
#display {
    font-size:3%;
    text-align: center;
    line-height: 150%;
}

#contab{
    margin:20px;
}
.feature{
    padding:30px 0;
}
.feature {
    padding-top:20px;
    padding-left:50px;
    font-size:14px;
    line-height:40px;
}

.feature h2{
color: #2c4c58;
}


.passage img{
    max-width:400px;
}
@media(max-width:768px)
{
    .carousel{
        height:330px;
    }
    .carousel .item{
        height:330px;
    }
}


#lefttext{
    border-right: 1px #ccc dotted;
    max-height: 2000px;
}